@font-face {
  font-family: 'Press Start2P';
  src: url(PressStart2P-Regular.ttf);
}

.app-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 0;
}

section{
    margin: 20px 0;
}

.columns{
    display: flex;
}

.column-main{
    flex: 1;
}

.column-main-offset-left{
    margin-left: 40px;
}

.avatar{
    image-rendering: pixelated;
}

.preloader{
    position: fixed;
    top: 50%;
    transform: translateY(-50%) scale(2);
    text-align: center;
    z-index: 9;
}

.avatar-description{
    margin-left: 40px;
}

.avatar-social{
    min-width: 150px;
    display: inline-block;
}

.paginator{
    margin: 6px;
    min-width: 90px;
}

small{
    font-size: 60%;
}