.app-wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 20px auto 0;
}

section{
    margin: 20px 0;
}

.columns{
    display: flex;
}

.column-main{
    flex: 1;
}

.column-main-offset-left{
    margin-left: 40px;
}

.avatar{
    image-rendering: pixelated;
}